<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="row">
   <div class="col-xs-12">
    <ul class="nav nav-pills">
       <li class="nav-item"><a class="nav-item" href="/google-map">Google Map</a>
    </ul>
  </div>
 </div>
 <div class="form-group">
    <input type="text" class="form-control" placeholder="Location" name="Location" [(ngModel)]="address" #LocationCtrl="ngModel"
        Googleplace (setAddress)="getAddressOnChange($event,LocationCtrl)">

  </div>
  <hr>
   <router-outlet></router-outlet>
</div>
